@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-BlackItalic.woff2") format("woff2");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-BoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-Extrabold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-ExtraboldItalic.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-Heavy.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-HeavyItalic.woff2") format("woff2");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-LightItalic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-RegularItalic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-Thin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-SemiboldItalic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-ThinItalic.woff2") format("woff2");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-UltraLight.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: Gilroy; 
	font-display: swap; 
	src: url("../Gilroy-UltraLightItalic.woff2") format("woff2");
	font-weight: 200;
	font-style: italic;
}

