@font-face {
	font-family: Roboto-Black; 
	font-display: swap; 
	src: url("./FONTS/Roboto-Black.woff2") format("woff2"); 
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: Roboto-BlackItalic; 
	font-display: swap; 
	src: url("./FONTS/Roboto-BlackItalic.woff2") format("woff2"); 
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: Roboto-Bold; 
	font-display: swap; 
	src: url("./FONTS/Roboto-Bold.woff2") format("woff2"); 
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Roboto-BoldItalic; 
	font-display: swap; 
	src: url("./FONTS/Roboto-BoldItalic.woff2") format("woff2"); 
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: Roboto-Italic; 
	font-display: swap; 
	src: url("./FONTS/Roboto-Italic.woff2") format("woff2"); 
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: Roboto-LightItalic; 
	font-display: swap; 
	src: url("./FONTS/Roboto-LightItalic.woff2") format("woff2"); 
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: Roboto-Light; 
	font-display: swap; 
	src: url("./FONTS/Roboto-Light.woff2") format("woff2"); 
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Roboto-Medium; 
	font-display: swap; 
	src: url("./FONTS/Roboto-Medium.woff2") format("woff2"); 
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Roboto-MediumItalic; 
	font-display: swap; 
	src: url("./FONTS/Roboto-MediumItalic.woff2") format("woff2"); 
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: Roboto-Regular; 
	font-display: swap; 
	src: url("./FONTS/Roboto-Regular.woff2") format("woff2"); 
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Roboto-ThinItalic; 
	font-display: swap; 
	src: url("./FONTS/Roboto-ThinItalic.woff2") format("woff2"); 
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: Roboto-Thin; 
	font-display: swap; 
	src: url("./FONTS/Roboto-Thin.woff2") format("woff2"); 
	font-weight: 100;
	font-style: normal;
}

